
#crm-lead-form input,
#crm-lead-form select,
#crm-lead-form textarea {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 4px !important;
}
#crm-lead-form button {
    background-color: #000000 !important;
    color: #fff !important;
}
